
body { 
    
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    line-height: 1.17;
    color:rgba(33, 33, 33, 1) ;
    
}

:root {
    --brand-color:rgba(33, 150, 243, 1);
    --decor-color: rgba(255, 255, 255, 1);
    --text-color: rgba(117, 117, 117, 1);
}
.container-header {
    background-color:rgba(236, 236, 236, 1)
}

.logo, .logo-footer {
    font-family:'Raleway';
    font-size: 26px;
    color:rgba(0, 0, 0, 1) ;
    text-decoration: none;

}

.logo-span {
    color: var(--brand-color);
}

.logo:hover, .logo:focus,
.studio-portfolio:hover, .studio-portfolio:focus, 
.portfolio-index:hover, .portfolio-index:focus,
.contakts:hover, .contakts:focus,
.mail:hover, .mail:focus, 
.tel:hover, .tel:focus,
.btn-headline:hover, .btn-headline:focus,
.logo-footer:hover, .logo-footer:focus,
.adres:hover, .adres:focus,
.mail-footer:hover, .mail-footer:focus,
.tel-footer:hover, .tel-footer:focus {
     color: var(--brand-color);
}
    
.nav-list {
    font-weight: 500;
    font-size: 14px; 
    list-style-type: none;          
}    

.studio-index, .studio-portfolio, .portfolio-index, .portfolio-portfolio, .contakts {
    text-decoration: none; 
    color:rgba(33, 33, 33, 1) ;    
      
}
.studio-index {
    color: var(--brand-color);
}
.portfolio-portfolio {
    color: var(--brand-color);
}
.mail, .tel {
    text-decoration: none; 
    color: var(--text-color) ;
}

.contakt {
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;   
     
}
   

.main-neadline {
    background-color: rgba(33, 33, 33, 1);
    
}
.headline {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    color: var(--decor-color);
    text-transform: uppercase;
} 
.btn-headline {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    background-color: rgba(33, 150, 243, 1);
    line-height: 1.88;
    cursor: pointer;
    color: var(--decor-color) ;
}

.btn-headline:hover, .btn-headline:focus {
    color: var(--decor-color) ;
} 

.list-hang {
    list-style-type: none;
}

.feature-hang {
    font-size: 14px;
    font-weight: 700;    
} 
.list-action {
    list-style-type: none;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color) ;
}

.feature-section {
    font-size: 36px;
    font-weight: 700; 
     
}
.list-comand {
    list-style-type: none;
}

.feature-comand {
    font-weight: 500;
    font-size: 16px;
      
}

.position {
    font-weight: 400;
    color: var(--text-color) ;
}

.logo-footer {
    color: var(--decor-color);
}

.address-list {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    list-style-type: none;    
}  

.adres {
    line-height: 1.71;
    text-decoration: none;
    color: var(--decor-color)
}

.mail-footer, .tel-footer {
    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);       
}

.btn-port {
    list-style-type: none;
        
}

.btn-port-li {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.62; 
    color:rgba(33, 33, 33, 1) ;

    cursor: pointer;
}

.btn-port-li:hover, .btn-port-li:focus {
    background-color: rgba(33, 150, 243, 1);
    color: var(--decor-color); 
}

.projects {
    list-style-type: none;
}

.feature-projects {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}

.text-pojects {
    font-weight: 400;
    line-height: 1.88;
    color: var(--text-color); 
} 

.footer-container {
    background-color: rgba(47, 48, 58, 1);
}

    
    
